form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px #ddd;
  border-radius: 5px;
  background-color: rgb(228, 226, 226);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px black;
  font-size: 16px;
  margin-top: 5px;
}
button {
  background-color: lightpink;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(245, 132, 149);
}
