.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.loginForm {
  padding: 20px;
  width: 50%;
  border: 1px #ddd;
  border-radius: 5px;
  background-color: rgb(228, 226, 226);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.username,
.password {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px black;
  font-size: 16px;
  margin-top: 5px;
}
.loginButton {
  background-color: #000;
  color: #fff;
  width: 80px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.7;
}
